:root {
  --cell-size: 1.5rem;
  --cell-border-width: 0.125rem;
  --light-blue: rgb(144, 158, 199);
  --blue: hsl(225, 31%, 46%);
  --dark-blue: rgb(66,71,86);
  --darker-blue: hsl(225, 13%, 20%);
  --light-green: rgb(110,161,113);
  --lighter-green: hsl(124, 21%, 65%);
  --green: rgb(77,120,78);
  --dark-green: hsl(121, 22%, 25%);
  --darker-green: hsl(121, 22%, 5%);
  --light-cream: hsl(52, 55%, 95%);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--lighter-green);
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1{
  margin: auto;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--darker-blue);
  border-top: solid var(--darker-blue) 5px;
  border-bottom: solid var(--darker-blue) 5px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  font-family: Georgia, serif;
  font-weight: bold;
  color: var(--dark-green);
  border: solid var(--dark-green) 5px;
  background: none;
}

button:hover {
  color: var(--green);
  border-color: var(--green);
}

#play-button {
  margin: 6rem auto;
  font-size: 3rem;
}

#one-player-button {
  margin: 6rem auto;
  font-size: 2em;
}

#ready-button {
  margin: auto;
  font-size: 2em;
}

#gameboard-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.board-frame {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  margin: 1rem 0;
}

.x-axis {
  grid-area: b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.125rem 0;
}

.x-axis p, .y-axis p {
  font-family: Verdana, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--dark-green);
}

.x-axis p {
  width: var(--cell-size);
  text-align: center;
}

.y-axis {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0.125rem;
}

.y-axis p {
  height: var(--cell-size);
  align-items: center;
  line-height: var(--cell-size);
}

.board {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: outset var(--green) 5px;
  background-color: hsl(124, 21%, 60%);
}

.board-grid {
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid var(--green) var(--cell-border-width);
}

#ships-container {
  margin: auto;
  padding: 1rem;
  min-height: 50%;
  min-width: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  border: inset var(--green) 5px;
  background-color: hsl(124, 21%, 60%);
}

#ships-container .draggable-ship {
  margin: auto;
}

.draggable-ship {
  position: relative;
  top: calc( -1 * var(--cell-border-width));
  left: calc( -1 * var(--cell-border-width));
  display: flex;
}

.draggable-ship[data-orientation="vertical"] {
  flex-direction: column;
}

.draggable-ship[data-orientation="horizontal"] {
  flex-direction: row;
  width: fit-content;
}

.draggable-ship-part {
  width: var(--cell-size);
  height: var(--cell-size);
  border: outset rgb(133, 133, 133) var(--cell-border-width);
  background-color: rgb(209, 209, 209);
}

.ship {
  background-color: rgb(122, 142, 158);
  border-color: hsl(207, 16%, 30%);
  border-style: outset;
}

.hit {
  background-color: hsl(0, 73%, 70%);
  border-color: hsl(0, 73%, 45%);
}

.miss {
  background-color: rgb(197, 197, 197);
  border-color: rgb(150, 150, 150);
}

.self-hit {
  background-color: rgb(233, 156, 156);
  border-color: hsl(0, 64%, 60%);
  border-style: inset;
}

.self-miss {
  background-color: rgb(197, 197, 197);
  border-color: rgb(150, 150, 150);
}

#blocking-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-over-container {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--green);
  border: outset var(--dark-green) 10px;
}

h2 {
  margin: 2% auto;
  font-size: 64pt;
  font-weight: bold;
  color: var(--light-cream);
  border-top: solid var(--light-cream) 5px;
  border-bottom: solid var(--light-cream) 5px;
}

h3 {
  margin: 2% auto;
  font-size: 36pt;
  font-weight: bold;
  color: var(--light-cream);
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  #play-button {
    font-size: 4rem;
  }

  #one-player-button {
    font-size: 3em;
  }

  .x-axis p {
    width: 1.75rem;
  }


  .y-axis p {
    height: 1.75rem;
    line-height: 1.75rem;
  }

  .board-grid, .draggable-ship-part {
    width: 1.75rem;
    height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 4rem;
    margin-top: 3rem;
  }

  #ready-button {
    font-size: 2.5em;
  }

  .x-axis p {
    width: 2.5rem;
  }


  .y-axis p {
    height: 2.5rem;
    line-height: 2.5rem;
  }

  .board-grid, .draggable-ship-part {
    width: 2.5rem;
    height: 2.5rem;
  }
}
