:root {
  --cell-size: 50px;
}

h1{
  width: fit-content;
  margin: auto;
  font-size: 48pt;
}

#gameboard-container {
  display: flex;
  width: fit-content;
  margin: auto;
}

.board-frame {
  margin: 50px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board-grid {
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid grey 1px;
}

#ships-container {
  margin: auto;
  width: 300px;
  height: 500px;
  display: flex;
  border: solid black 1px;
}

.draggable-ship {
  position: relative;
  top: -1px;
  left: -1px;
  display: flex;
}

.draggable-ship[data-orientation="vertical"] {
  flex-direction: column;
}

.draggable-ship[data-orientation="horizontal"] {
  flex-direction: row;
  width: fit-content;
}

.draggable-ship-part {
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid rgb(0, 191, 255) 1px;
  background-color: rgb(166, 233, 255);
}

.ship {
  background-color: rgb(200, 200, 200);
  border-color: black;
}

.hit {
  background-color: rgb(255, 145, 145);
  border-color: red;
}

.miss {
  background-color: rgb(145, 145, 255);
  border-color: blue;
}

.self-hit {
  background-color: rgb(180, 128, 128);
  border-color: rgb(230, 128, 128);
}

.self-miss {
  background-color: rgb(128, 128, 180);
  border-color: rgb(128, 128, 230);
}

#blocking-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-over-sign {
  width: 300px;
  height: 300px;
  color: white;
  background-color: black;
  text-align: center;
}
